<!DOCTYPE html>
<html>

    <head>
        <title>Lindo Vlogs - Đã trở lại</title>
    </head>
    
    <body>
    
        <h1>Hình như Vlog trước Lindo bị heck nhiều quá :((</h1>
        <form action="/login" method="POST" onsubmit="submitform(event)">
    
            <input type="text" name="username" placeholder="username" id="username">
            <br><br>
            <input type="password" name="password" placeholder="password" id="password">
            <br><br>
            <button>Login</button>
    
        </form>

</body>

</html>